@import url('https://fonts.googleapis.com/css?family=Montserrat');
@-ms-viewport {
    width: device-width;
}

body {
    background-color: #111;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    margin: 300px auto 450px;
}

h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    line-height: .75;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

.horizontal-scroll {
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
}

.horizontal-scroll>* {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh), 0);
    transform: rotate(90deg) translate3d(0, calc(-100vh), 0);
}

.horizontal-scroll__block {
    width: calc(100vh);
    height: calc(100vh);
    position: relative;
    color: #FFF;
}

.list-translated {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    list-style: none;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    color: #eee;
    text-align: left;
    position: absolute;
    z-index: 0;
    letter-spacing: 10px;
    margin-left: 250px
}

.bgimage {
    background-image: url(/image/macbook.jpg);
}

.intress {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    text-align: center;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

li {
    list-style: none;
    font-size: 20px;
}

.bgimage2 {
    background-image: url(/image/249656.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.big {
    font-size: 2em;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.neon {
    font-size: 60px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    text-align: center;
}

.tekst {
    font-size: 24px;
    font-family: 'Futura';
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

#social-em:hover {
    color: #f39c12;
}

#linked:hover {
    color: #0077B5;
}

#git:hover {
    color: crimson;
}

#linked {
    color: white;
    ;
}

#git {
    color: white;
}

#social-em {
    color: #fff;
}

#user {
    color: #fff
}

#user:hover {
    color: #ff0080
}